{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered mt-6">
    <div class="column is-4">
        <div class="box" style="box-shadow: 0 2px 16px #7c3aed22;">
            <h2 class="title is-4 has-text-centered" style="color:#7c3aed;">Iniciar sesión</h2>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Usuario</label>
                    <div class="control has-icons-left">
                        <input type="text" name="username" class="input" required autofocus placeholder="Usuario">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Contraseña</label>
                    <div class="control has-icons-left">
                        <input type="password" name="password" class="input" required placeholder="Contraseña">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered mt-4">
                    <div class="control">
                        <button type="submit" class="button purple is-circular">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
